*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	font-family: sans-serif;
}

header{
  background-color: lightblue;
  padding: 10px;
  width: 100vw;
  margin: 0 auto;
}

.logo{
  text-align: center;
}

.logo img{
  width: 150px;
  height: auto;
}

nav ul{
  list-style: none;
  text-align: center;
}

nav ul li{
  display: inline-block;
  padding: 5px;
}

nav ul li a{
  color: black;
  text-decoration: none;
}

nav ul li:hover a{
  color: white;
}

#mainImage{
  width: 100vw;
  height: 60vh;
  background-image: url("../images/ricardo-gomez-angel-273521-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

section #threeOptions{
	display: flex;
}

section #threeOptions .options{
	padding: 20px;
	text-align: center;
}

.clear{
  clear:both;
}

section .content{
  text-align: left;
	width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
